/* Estilos para la página de inicio de sesión */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

header {
    background-color: #388E3C; /* Color principal verde oscuro */
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1em;
}

header h1, header h2 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.left-column, .right-column {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    max-width: 300px;
}

.right-column {
    flex: 3;
}

.section {
    margin-bottom: 1em;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 1em;
}

.section h3 {
    margin-top: 0;
    color: #388E3C; /* Color principal verde oscuro */
}

.label, .input-group {
    display: flex;
    align-items: center;
}

.label {
    margin-bottom: 0.5em;
}

.input-group {
    margin-bottom: 0.5em;
}

.input-group input, .input-group button {
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-group input {
    flex: 1;
}

.input-group button {
    background-color: #388E3C; /* Color principal verde oscuro */
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #2e7d32;
}

.section input[type="text"], .section input[type="number"] {
    width: calc(100% - 1em);
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.section button {
    background-color: #388E3C; /* Color principal verde oscuro */
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.section button:hover {
    background-color: #2e7d32;
}

.details {
    flex: 1;
}

.serial-number {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
}

.serial-number label {
    margin-right: 0.5em;
}

.serial-number input {
    width: auto;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/*CORREGIR AQUI*/
.tip-doc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
}

.tip-doc label {
    margin-right: 0.5em;
}

.tip-doc select {
    width: auto;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}
/*HASTA AQUI*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table th {
    background-color: #388E3C; /* Color principal verde oscuro */
    color: white;
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

table td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

table tr:hover {
    background-color: #f1f1f1;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.total button {
    margin-right: 1em;
    padding: 0.5em 1em;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.total .generate {
    background-color: #388E3C; /* Color principal verde oscuro */
    color: white;
    border: none;
    cursor: pointer;
}

.total .generate:hover {
    background-color: #2e7d32;
}

.total .cancel {
    background-color: #f44336; /* Color secundario */
    color: white;
    border: none;
    cursor: pointer;
}

.total .cancel:hover {
    background-color: #e53935;
}

.total span {
    font-size: 1.2em;
    font-weight: bold;
}


/* Estilos para el modal */
.modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
    margin-top: 20px;
}

/* Estilos para el modal de confirmación */
.modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #2e7d32; /* Color verde */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid white; /* Borde blanco */
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white; /* Texto blanco */
}

.modal-buttons {
    margin-top: 20px;
}

.modal-buttons button {
    background-color: #388E3C; /* Color principal verde oscuro */
    color: white;
    border: 1px solid white; /* Borde blanco */
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 10px;
    box-shadow: 0 2px;   
}